@model CantiereApp.Models.NuovoIntervento

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<h4>NuovoIntervento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InserisciIntervento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luogo" class="control-label"></label>
                <input asp-for="Luogo" class="form-control" />
                <span asp-validation-for="Luogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipologia" class="control-label"></label>
                <input asp-for="Tipologia" class="form-control" />
                <span asp-validation-for="Tipologia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lavoro" class="control-label"></label>
                <input asp-for="Lavoro" class="form-control" />
                <span asp-validation-for="Lavoro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label"></label>
                <input asp-for="Prezzo" class="form-control" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
